* {
  margin: 0;
  padding: 0;
}
.main-section {
  width: 1200px;
  height: auto;
  margin: auto;
}

header {
  background-color: aliceblue;
  height: 40px;
}
ul {
  padding-top: 10px;
}
li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  margin-top: 25px;
  cursor: pointer;
}
h1 {
  margin-top: 20px;
  font-size: 30px;
}
.top-btn {
  padding: 8px 25px;
  margin-top: 10px;
  margin-right: 5px;
  /* border: none; */
  border: 1px solid rgb(182, 182, 182);
  border-radius: 3px;
}
.top-btn:hover {
  background-color: lightblue;
  border: 1px solid darkred;
}
.sub-title {
  margin-top: 5px;
  margin-top: 10px;
}
.autor {
  display: inline;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-top: 15px;
  color: darkred;
  margin-bottom: 05px;
}
.secont-section {
  /* background-color: red; */
  width: 850px;
  float: left;
}
.aside {
  float: right;
  width: 350px;
  border-top: 5px solid darkred;
  border-bottom: 5px solid darkred;
  /* background-color: green; */
}
p {
  letter-spacing: 0.1px;
  line-height: 1.2;
}
img {
  display: inline;
}
.see-more {
  display: inline;
}
.related-content-btn {
  margin-top: 10px;
  padding: 4px 30px;
  margin-bottom: 20px;
}
